/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2015, 3:43:30 PM
    Author     : Christian Choi
*/

body {
    margin-top: 60px;
}

#home {
    margin-top: 50px;
}

.home-footer {
    text-align: center;
}

.carousel-img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.custom-carousel-caption {
    padding-bottom: 10px;
    
}

.custom-form-control {
  display: block;
  width: 10%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}